body {
  background: linear-gradient(45deg, var(--theme-ts), var(--background));
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
}

h1{
  color: var(--theme-t);
  font-family: "Title";
  text-shadow: var(--theme-t) 3px 0 10px;
  margin-top: 65px;
}

h2{
  color: var(--text);
  font-size: 26px;
  margin-bottom: 15.580px;
}

option {
  color: var(--text-secondary);
}

.section-title {
  color: var(--text);
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

input {
  background-color:  rgba(255, 255, 255, .05);
  color: var(--text-secondary);
  border: 3px solid var(--theme);
  border-radius: 5px;
  padding: 10px;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  max-width: 85%;
}

input::placeholder {
  color: var(--text-secondary);
}

button {
  background-color: var(--theme);
  color: var(--text-secondary);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  margin-right: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

hr {
  border: 1px solid var(--text);
  margin: 20px 0;
  max-width: 90%;
}

p {
  color: var(--text-secondary);
  font-size: 1.2em;
  margin: 10px 0;
}

.console-input input {
  background-color: rgba(255, 255, 255, .05);
  color: var(--text-secondary);
  border: 3px solid var(--theme);
  border-radius: 5px;
  padding: 10px;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
}

.console-button {
  background-color: var(--theme);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  margin-top: 10px;
  cursor: pointer;
}

.home {
  position: absolute;
  top: 0px;
  right: 5px;
  width: 3em;
  fill: var(--theme);
}
.presets {
  margin-right: 10px;
  cursor: pointer;
}
.presets:hover {
  transform: scale(1.1);
}
.drop {
  background-color: var(--theme);
  color: var(--text-secondary);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  margin-right: 10px;
  cursor: pointer;
}

#navbar #top-bar {
	background-color: rgba(0, 0, 0, 0.5);
  }

@font-face {
  font-family: Title;
  src: url(../img/MokotoGlitchMark.ttf);
}

@font-face {
	font-family: CopyR;
	src: url(../img/CopyrightViolation.ttf);
  }

  .copy p {
    margin-top: 19.2px;
    margin-bottom: 19.2px;
    width: 100%;
    padding: 0;
    border-radius: 0;
    font-family: "CopyR";
	  font-size: 1.2em;
    background: rgba(0, 0, 0, 0.5);
    color: var(--text);
}