body[data-theme="echo"] {
  --background: #0d011c;
  --theme: #080d51;
  --theme-ts: #1e00b360;
  --text: #d4d4d4;
  --text-secondary: #9e9e9e;
}

 body[data-theme="light"] {
  --background: #ffffff;
  --theme: #c7c7c7;
  --theme-ts: #b5b5b560;
  --text: #e2b726;
  --text-secondary: #d2a020;
}

body[data-theme="dark"] {
  --background: #000000;
  --theme: #444444;
  --theme-ts: #44444460;
  --text: #e2b726;
  --text-secondary: #d2a020;
}

body[data-theme="sumpeach"] {
  --background: #00539C;
  --theme: #EEA47F;
  --theme-ts: #EEA47F60;
  --text: #ffffff;
  --text-secondary: #000000;
}

body[data-theme="blpi"] {
  --background: #0066cc;      
  --theme: #c5528a;           
  --theme-ts: #ff6eb460;     
  --text: #000000;
  --text-secondary: #ffffff;
}  

body[data-theme="cansh"] {
  --background: #476c81;
  --theme: #a9a52e;
  --theme-ts: #d7d12960;
  --text: #cb3a80;
  --text-secondary: #2c2c2c;
}

body[data-theme="cblue"] {
  --background: #0a1c3a;
  --theme: #135585;
  --theme-ts: #155c8f60;
  --text: #1b82c7;
  --text-secondary: #5ca4d8;
}

body[data-theme="default"] {
  --background: #000000;
  --theme: #4f0007;
  --theme-ts: #9d4750;
  --text: #e5e5e5;
  --text-secondary: #ffffff;
}